{% if paginator.numPages > 1 %}
    <nav class="pagination is-centered mt-6" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            {% if paginator.prevUrl %}
                <li><a class="pagination-link" href="{{ paginator.prevUrl }}"><i class="icon-chevron-left"></i></a></li>
            {% endif %}
            {% for page in paginator.pages %}
                {% if page.url %}
                    <li>
                        <a class="pagination-link {{ page.isCurrent ? 'is-current' }}" href="{{ page.url }}">{{ page.num }}</a>
                    </li>
                {% else %}
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                {% endif %}
            {% endfor %}
            {% if paginator.nextUrl %}
                <li><a class="pagination-link" href="{{ paginator.nextUrl }}"><i class="icon-chevron-right"></i></a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

