{% extends 'layout.html.twig' %}

{% block navbarEnd %}
    <div class="navbar-item">
        <div class="buttons">
            <a href="{{ path('app_image_edit', {slug: board.slug, id: image.id}) }}" class="button">{{ 'btn.edit'|trans }}</a>
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('app_board_index') }}">{{ 'menu.boards'|trans }}</a></li>
    <li><a href="{{ path('app_board_show', {slug: board.slug}) }}">{{ board.name }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ image.id }}</a></li>
{% endblock %}


{% block content %}
    <div class="column is-one-quarter">
        {{ include('App/Tag/_list.html.twig', {tags: tags}) }}

        <div class="block">
            <h3 class="has-text-weight-medium">{{ 'title.informations'|trans }}</h3>
            <div>{{ 'label.uploaded_at'|trans }}: {{ image.createdAt|date('Y-m-d h:i:s') }}</div>
            <div>{{ 'label.uploaded_by'|trans }}: {{ image.uploadedBy.username }}</div>
            <div>{{ 'label.size'|trans }}: {{ image.size|bytes }}</div>
            <div>{{ 'label.dimensions'|trans }}: {{ image.width }}*{{ image.height }}</div>
            {% if image.duration %}
                <div>{{ 'label.duration'|trans }}: {{ image.duration|minutes }}</div>
            {% endif %}
            <div>{{ 'label.mimetype'|trans }}: {{ image.mimetype }}</div>
        </div>
    </div>

    <div class="column">
        <figure class="image-display">
            {% if image.mimeType == 'video/mp4' %}
                <video controls>
                    <source src="{{ asset(image.path) }}" type="video/mp4">
                </video>
            {% else %}
                <img src="{{ asset(image.path) }}">
            {% endif %}
        </figure>
    </div>
{% endblock %}