{% extends 'base.html.twig' %}

{% block body %}
    <div class="header">
        {{ 'global.welcome'|trans }}
        <div class='logo' aria-label="Logo"></div>
    </div>
    <div class="box unauthenticated">
        <h1 class="title">
            {{ 'title.sign_in'|trans }}
        </h1>

        <form action="{{ path("app_security_login") }}" method="post">
            {% if error %}
                <p class="has-text-danger">
                    {{ error.messageKey|trans(error.messageData, 'messages') }}
                </p>
            {% endif %}


            <div class="field">
                <label class="label required" for="login">{{ 'label.login'|trans }}</label>
                <input class="input" type="text" id="login" name="_login" value="{{ lastUsername }}" required="required"/>
            </div>

            <div class="field">
                <label class="label required" for="password">{{ 'label.password'|trans }}</label>
                <input class="input" type="password" id="password" name="_password" required="required"/>
            </div>

            <div class="footer-button">
                <input class="button is-primary" type="submit" name="submit" value="{{ 'btn.sign_in'|trans }}"/>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
        </form>
    </div>
{% endblock %}
