{% block file_widget %}
    {% apply spaceless %}
        <div data-controller="preview" class="has-text-centered">
            <label>
                {% if form.parent.vars.data.mimetype is not null %}
                    {% set isVideo = form.parent.vars.data.mimetype == 'video/mp4' %}
                    <video controls data-preview-target="video" class="preview {{ isVideo == false ? 'is-hidden' }}" src="{{ asset(form.parent.vars.value.path) }}"></video>
                    <img data-preview-target="image" class="preview {{ isVideo == true ? 'is-hidden' }}" src="{{ asset(form.parent.vars.value.path) }}"/>
                {% else %}
                    <img data-preview-target="image" class="preview" src="{{ asset('build/images/default.png') }}"/>
                    <video controls data-preview-target="video" class="preview is-hidden" src="{{ asset('build/images/default.png') }}"></video>
                {% endif %}

                <input {{ block('widget_attributes') }}
                        class="file-input"
                        data-action="change->preview#load change->similar#checkSimilar"
                        type="file"
                        accept="image/png, image/jpeg, image/jpg, image/gif, image/webp, image/avif, image/svg+xml, video/mp4, video/webm"
                >
            </label>
        </div>
    {% endapply %}
{% endblock file_widget %}