{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'menu.board'|trans }} · {{ 'menu.add_board'|trans }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('app_board_index') }}">{{ 'menu.boards'|trans }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ 'menu.add_board'|trans }}</a></li>
{% endblock %}

{% block content %}
    <div class="column"></div>

    <div class="column">
        <div class="box">
            <h1 class="title">{{ 'title.add_board'|trans }}</h1>
            {{ include('App/Board/_form.html.twig') }}
        </div>
    </div>

    <div class="column"></div>
{% endblock %}