{% extends 'layout.html.twig' %}

{% block buttons %}
    <a class="button is-primary" href="{{ path('app_board_add') }}">{{ 'btn.add_board'|trans }}</a>
    <a class="button is-primary" href="{{ path('app_post_upload') }}">{{ 'menu.upload'|trans }}</a>
{% endblock %}

{% block breadcrumb %}
    <li class="is-active"><a href="{{ path('app_board_index') }}" aria-current="page">{{ 'menu.boards'|trans }}</a></li>
{% endblock %}

{% block content %}
    <div class="column">
        <div class="grid grid-boards">
            {% for board in boards %}
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <a href="{{ path('app_board_show', {slug: board.slug}) }}">
                                {% if board.thumbnail %}
                                    <img src="{{ board.thumbnail.path|thumbnail(420) }}">
                                {% else %}
                                    <img src="{{ asset('build/images/default.png') }}">
                                {% endif %}
                            </a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <a href="{{ path('app_board_show', {slug: board.slug}) }}">{{ board.name }}</a>
                            <div>{{ 'counters.posts'|trans({'count': counters[board.id]}) }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}