{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_board_add') }}" class="button">{{ 'btn.add_board' }}</a>

    {% for board in boards %}
        <div>
            {% if board.thumbnail %}
                <img src="{{ board.thumbnail.path|thumbnail(100) }}">
            {% endif %}
            <a href="{{ path('app_board_show', {slug: board.slug}) }}">{{ board.name }}</a>
        </div>
    {% endfor %}
{% endblock %}