{% extends 'layout.html.twig' %}

{% block navbarEnd %}
    <div class="navbar-item">
        <div class="buttons">
            <a href="{{ path('app_post_add', {slug: board.slug}) }}" class="button is-primary">{{ 'btn.add_post'|trans }}</a>
            <a href="{{ path('app_board_edit', {slug: board.slug}) }}" class="button">{{ 'btn.edit'|trans }}</a>
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('app_board_index') }}">{{ 'menu.boards'|trans }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ board.name }}</a></li>
{% endblock %}

{% block content %}
    <div class="column is-one-fifth">
        {{ include('App/Tag/_list.html.twig', {tags: tags}) }}
    </div>

    <div class="column">
        <div class="grid">
            {% for post in posts %}
                <a href="{{ path('app_post_show', {slug: board.slug, id: post.id}) }}">
                    <figure class="image">
                        <div>
                        {% if post.mimetype == 'image/gif' %}
                            <img src="{{ asset(post.path) }}">
                        {% else %}
                            {% if post.duration %}
                                <span class="tag is-dark has-text-weight-medium">{{ post.duration|minutes }}</span>
                            {% endif %}
                            <img src="{{ asset(post.path|thumbnail(500)) }}">
                        {% endif %}
                        </div>
                    </figure>
                </a>
            {% endfor %}
        </div>

        {{ include('App/_partials/_pagination.html.twig', {paginator: paginator}) }}
    </div>
{% endblock %}