{% extends 'layout.html.twig' %}

{% block buttons %}
    <a class="button is-primary" href="{{ path('app_post_add', {slug: board.slug}) }}">{{ 'menu.upload'|trans }}</a>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('app_board_index') }}">{{ 'menu.boards'|trans }}</a></li>

    {% if search is empty %}
        <li class="is-active"><a href="#">{{ board.name }}</a></li>
    {% else %}
        <li><a href="{{ path('app_board_show', {slug: board.slug}) }}">{{ board.name }}</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ search }}</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="infinite-scroll-wrapper"
         data-controller="infinite-scroll"
         data-infinite-scroll-page-value="{{ app.request.get('page') ?? 1 }}"
    >
        <div class="column is-one-fifth left-block">
            {{ include('App/Tag/_list.html.twig', {tags: tags}) }}

            <div class="block">
                <h3 class="has-text-weight-medium">{{ 'title.actions'|trans }}</h3>
                <div><a href="{{ path('app_board_edit', {slug: board.slug}) }}">{{ 'btn.edit'|trans }}</a></div>
                <div><a href="#" class="js-modal-trigger" data-target="delete">{{ 'btn.delete'|trans }}</a></div>
            </div>
        </div>

        <div class="column right-block">
            <span class="grid grid-posts" data-infinite-scroll-target="postsContainer">
                {{ include('App/Board/_posts.html.twig', {posts: posts}) }}
            </span>

            {% if app.user.paginationType == 'page' %}
                {{ include('App/_partials/_pagination.html.twig', {paginator: paginator}) }}
            {% else %}
                <div data-infinite-scroll-target="bottom"></div>
            {% endif %}
        </div>
    </div>

    {{ include('App/_partials/_modal/_delete.html.twig', {
        'header': 'message.delete_board'|trans,
        'message': 'message.warning_delete_board'|trans,
        'action': path('app_board_delete', {slug: board.slug})
    }) }}
{% endblock %}