{% extends 'layout.html.twig' %}

{% block navbar %}
    <a class="navbar-item" href="{{ path('app_post_add', {slug: board.slug}) }}">{{ 'menu.upload'|trans }}</a>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('app_board_index') }}">{{ 'menu.boards'|trans }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ board.name }}</a></li>
{% endblock %}

{% block content %}
    <div class="column is-one-fifth">
        {{ include('App/Tag/_list.html.twig', {tags: tags}) }}

        <div class="block">
            <h3 class="has-text-weight-medium">{{ 'title.actions'|trans }}</h3>
            <div><a href="{{ path('app_board_edit', {slug: board.slug}) }}">{{ 'btn.edit'|trans }}</a></div>
            <div><a href="#" class="js-modal-trigger" data-target="delete">{{ 'btn.delete'|trans }}</a></div>
        </div>
    </div>

    <div class="column">
        <div class="grid grid-posts">
            {% for post in posts %}
                <a href="{{ path('app_post_show', {slug: board.slug, id: post.id}) }}">
                    <figure class="image">
                        <div>
                        {% if post.mimetype == 'image/gif' %}
                            <img src="{{ asset(post.path) }}">
                        {% else %}
                            {% if post.duration %}
                                <span class="tag is-dark has-text-weight-medium">{{ post.duration|minutes }}</span>
                            {% endif %}
                            <img src="{{ asset(post.path|thumbnail(500)) }}">
                        {% endif %}
                        </div>
                    </figure>
                </a>
            {% endfor %}
        </div>

        {{ include('App/_partials/_pagination.html.twig', {paginator: paginator}) }}
    </div>

    {{ include('App/_partials/_modal/_delete.html.twig', {
        'header': 'message.delete_board'|trans,
        'message': 'message.warning_delete_board'|trans,
        'action': path('app_board_delete', {slug: board.slug})
    }) }}
{% endblock %}