{{ form_start(form) }}
    {{ form_row(form.name, {'label' : 'label.name'} ) }}

    {{ form_row(form.category, {'label' : 'label.category'} ) }}

    <button type="submit">{{ 'btn.submit'|trans }}</button>
    <a href="{{ path('app_tag_index') }}"> {{ 'btn.cancel'|trans }}</a>
{{ form_end(form) }}