{{ form_start(form) }}
    {{ form_row(form.name, {'label' : 'label.name'} ) }}

    {{ form_row(form.category, {'label' : 'label.category'} ) }}

    {{ form_row(form.suggested, {'label' : 'label.suggested'} ) }}

    <div class="footer-button">
        <button class="button is-primary" type="submit">{{ 'btn.submit'|trans }}</button>
        <a class="button is-danger" href="{{ path('app_tag_index') }}">{{ 'btn.cancel'|trans }}</a>
        <a href="#" class="button is-danger js-modal-trigger" data-target="delete">{{ 'btn.delete'|trans }}</a>
    </div>
{{ form_end(form) }}