{{ form_start(form) }}
    {{ form_row(form.name, {'label' : 'label.name'} ) }}

    {{ form_row(form.category, {'label' : 'label.category'} ) }}

    <button class="button is-primary" type="submit">{{ 'btn.submit'|trans }}</button>
    <a class="button is-danger" href="{{ path('app_tag_index') }}">{{ 'btn.cancel'|trans }}</a>
{{ form_end(form) }}