<div class="block">
    <form action="{{ path('app_board_show', {slug: board.slug}) }}" method="get">
        <div class="field has-addons">
            <div class="control" style="width: 100%" data-controller="autocomplete">
                <input name="tags" class="input" value="{{ search|default('') }}" multiple autocomplete="off"
                       data-autocomplete-target="input"
                       data-action="keyup->autocomplete#autocomplete"
                >
                <ul class="autocomplete-dropdown autocomplete-dropdown-search is-hidden" data-autocomplete-target="list"></ul>
            </div>
            <div class="control">
                <button class="button is-info" type="submit">
                    <i class="icon-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>


{% for category in ['artist', 'copyright', 'character', 'general', 'meta'] %}
    <div class="block">
        {% for tag in tags|filter(t => t.category == category) %}
            {% if loop.first %}<h3 class="has-text-weight-medium">{{ ('app.enum.tag.category.' ~ category)|trans }}</h3>{% endif %}
            <div><a class="is-category-{{ category }}" href="{{ path('app_board_show', {slug: board.slug, tags: tag.name}) }}">{{ tag.name }}</a> ({{ tag.counter }})</div>
        {% endfor %}
    </div>
{% endfor %}
