<div class="block">
    <form action="{{ path('app_board_show', {slug: board.slug}) }}" method="get">
        <div class="field has-addons">
            <div class="control" style="width: 100%">
                <input name="tags" class="input" value="{{ search|default('') }}" multiple {{ stimulus_controller('autocomplete', {
                    url: path('app_tag_autocomplete', { alias: 'search' })
                }) }}>
            </div>
            <div class="control">
                <button class="button is-info" type="submit">
                    <i class="icon-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>


<div class="block">
    {% for tag in tags|filter(t => t.category == 'general') %}
        {% if loop.first %}<h3 class="has-text-weight-medium">{{ 'app.enum.tag.category.general'|trans }}</h3>{% endif %}
        <div><a href="{{ path('app_board_show', {slug: board.slug, tags: tag.name}) }}">{{ tag.name }}</a> ({{ tag.counter }})</div>
    {% endfor %}
</div>

<div class="block">
    {% for tag in tags|filter(t => t.category == 'meta') %}
        {% if loop.first %}<h3 class="has-text-weight-medium">{{ 'app.enum.tag.category.meta'|trans }}</h3>{% endif %}
        <div><a href="{{ path('app_board_show', {slug: board.slug, tags: tag.name}) }}">{{ tag.name }}</a> ({{ tag.counter }})</div>
    {% endfor %}
</div>