{% extends 'layout.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path('app_tag_index') }}">{{ 'menu.tags'|trans }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ tag.name }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ 'menu.edit'|trans }}</a></li>
{% endblock %}

{% block content %}
    <div class="column"></div>

    <div class="column">
        <div class="box">
            <h1 class="title">{{ 'title.edit_tag'|trans({name: tag.name}) }}</h1>
            {{ include('App/Tag/_form.html.twig') }}
        </div>
    </div>

    <div class="column"></div>

    {{ include('App/_partials/_modal/_delete.html.twig', {
        'header': 'message.delete_tag'|trans,
        'message': 'message.warning_delete_tag'|trans,
        'action': path('app_tag_delete', {id: tag.id})
    }) }}
{% endblock %}