{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'menu.tags'|trans }}
{% endblock %}

{% block breadcrumb %}
    <li class="is-active"><a href="{{ path('app_tag_index') }}" aria-current="page">{{ 'menu.tags'|trans }}</a></li>
{% endblock %}

{% block content %}
    <div class="column"></div>

    <div class="column">
        <table class="table is-fullwidth is-bordered">
            <thead>
                <tr>
                    <th>{{ 'label.name'|trans }}</th>
                    <th>{{ 'label.category'|trans }}</th>
                    <th>{{ 'label.suggested'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for tag in tags %}
                    <tr>
                        <td><a class="is-category-{{ tag.category.value }}" href="{{ path('app_tag_edit', {id: tag.id}) }}">{{ tag.name }}</a> ({{ tag.counter }})</td>
                        <td>{{ tag.category.value }}</td>
                        <td>{{ (tag.suggested ? 'global.yes' : 'global.no')|trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="column"></div>
{% endblock %}