{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" data-controller="burger" >
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ path('app_board_index') }}">
                <img src="{{ asset('build/images/logo.svg') }}" width="28" height="28">
            </a>

            <div class="navbar-breadcrumb">
                <div class="navbar-item breadcrumb is-centered" aria-label="breadcrumbs">
                    <ul>
                        {% block breadcrumb %}{% endblock %}
                    </ul>
                </div>
            </div>


            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar"
               data-action="click->burger#display" data-burger-target="button"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu" data-burger-target="menu">
            <div class="navbar-start">
                <span class="navbar-item is-hidden-mobile">|</span>
                <a class="navbar-item" href="{{ path('app_board_index') }}">{{ 'menu.boards'|trans }}</a>
                <a class="navbar-item" href="{{ path('app_tag_index') }}">{{ 'menu.tags'|trans }}</a>
                <a class="navbar-item" href="{{ path('app_profile_index') }}">{{ 'menu.profile'|trans }}</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="navbar-item" href="{{ path('app_admin_index') }}">{{ 'menu.admin'|trans }}</a>
                {% endif %}
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% block buttons %}{% endblock %}
                        <a href="{{ path('app_security_logout') }}"><i class="icon-power-off"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="columns {% if app.current_route in ['app_post_show', 'app_board_show'] %}reverse-columns{% endif %}">
            {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% for flash_message in app.session.flashbag.get('notice') %}
        <span data-controller="toast" data-message="{{ flash_message|e }}"></span>
    {% endfor %}
{% endblock %}