{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar" role="navigation" aria-label="main navigation" data-controller="burger" >
        <div class="navbar-brand">
            <div class="navbar-item">
                <img src="{{ asset('build/images/logo.svg') }}" width="28" height="28">
            </div>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar"
               data-action="click->burger#display" data-burger-target="button"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu" data-burger-target="menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ path('app_board_index') }}">{{ 'menu.boards'|trans }}</a>
                <a class="navbar-item" href="{{ path('app_tag_index') }}">{{ 'menu.tags'|trans }}</a>
                <a class="navbar-item" href="{{ path('app_profile_index') }}">{{ 'menu.profile'|trans }}</a>
                {% block navbar %}{% endblock %}
                <span class="navbar-item is-hidden-mobile">|</span>

                <div class="navbar-item breadcrumb is-hidden-mobile" aria-label="breadcrumbs">
                    <ul>
                        {% block breadcrumb %}{% endblock %}
                    </ul>
                </div>
            </div>
            <div class="navbar-end">
                {% block navbarEnd %}{% endblock %}
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="columns">
            {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}