{{ form_start(form) }}
    {{ form_row(form.file, {'label' : 'label.file'} ) }}

    <div data-controller="suggestions">
        <div data-controller="autocomplete">
            {{ form_row(form.tags, {'label' : 'label.tags', 'attr': {
                'data-suggestions-target': 'input',
                'data-autocomplete-target': 'input',
                'data-action': 'keyup->autocomplete#autocomplete'
            }} ) }}
        </div>

        {% if suggestedTags is not empty %}
            <div class="block">
                {% for tag in suggestedTags %}
                    <span class="is-clickable is-category-{{ tag.category.value }}"
                          data-action="click->suggestions#fillInputWithSuggestion"
                          data-suggestion="{{ tag.name }}">
                        {{ tag.name }}{{ loop.last == false ? ', ' }}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {{ form_row(form.setAsBoardThumbnail, {'label' : 'label.set_as_board_thumbnail'} ) }}

    <button class="button is-primary" type="submit">{{ 'btn.submit'|trans }}</button>
    <a class="button is-danger" href="{{ path('app_board_show', {slug: board.slug}) }}">{{ 'btn.cancel'|trans }}</a>
{{ form_end(form) }}