{% extends 'layout.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path('app_board_index') }}">{{ 'menu.boards'|trans }}</a></li>
    <li><a href="{{ path('app_board_show', {slug: board.slug}) }}">{{ board.name }}</a></li>
    <li><a href="{{ path('app_post_show', {slug: board.slug, id: post.id}) }}">{{ post.id }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ 'menu.edit'|trans }}</a></li>
{% endblock %}

{% block content %}
    <div class="column"></div>

    <div class="column">
        <div class="box">
            <h1 class="title">{{ 'title.edit_post'|trans }}</h1>
            {{ include('App/Post/_form.html.twig') }}
        </div>
    </div>

    <div class="column"></div>
{% endblock %}