{% extends 'layout.html.twig' %}

{% block buttons %}
    <a class="button is-primary" href="{{ path('app_post_add', {slug: board.slug}) }}">{{ 'menu.upload'|trans }}</a>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('app_board_index') }}">{{ 'menu.boards'|trans }}</a></li>
    <li><a href="{{ path('app_board_show', {slug: board.slug}) }}">{{ board.name }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ post.id }}</a></li>
{% endblock %}

{% block content %}
    <div class="column is-one-fifth left-block">
        {{ include('App/Tag/_list.html.twig', {tags: tags}) }}

        <div class="block">
            <h3 class="has-text-weight-medium">{{ 'title.informations'|trans }}</h3>
            <div>{{ 'label.uploaded_at'|trans }}: {{ post.createdAt|ago }}</div>
            <div>{{ 'label.uploaded_by'|trans }}: {{ post.uploadedBy.username }}</div>
            <div>{{ 'label.size'|trans }}: {{ post.size|bytes }}</div>
            {% if post.width is not null and post.height is not null %}
                <div>{{ 'label.dimensions'|trans }}: {{ post.width }}*{{ post.height }}</div>
            {% endif %}
            {% if post.duration is not null %}
                <div>{{ 'label.duration'|trans }}: {{ post.duration|minutes }}</div>
            {% endif %}
            <div>{{ 'label.mimetype'|trans }}: {{ post.mimetype }}</div>
            <div>{{ 'label.seen'|trans }}: {{ post.seenCounter + 1 }}</div>
        </div>

        <div class="block">
            <h3 class="has-text-weight-medium">{{ 'title.actions'|trans }}</h3>
            <div><a href="{{ path('app_post_edit', {slug: board.slug, id: post.id}) }}">{{ 'btn.edit'|trans }}</a></div>
            <div><a href="#" class="js-modal-trigger" data-target="delete">{{ 'btn.delete'|trans }}</a></div>
            <div><a href="{{ asset(post.path) }}" download>{{ 'btn.download'|trans }}</a></div>
            <div><a href="{{ asset(post.path) }}">{{ 'btn.view_original'|trans }}</a></div>
        </div>
    </div>

    <div class="column">
        <div data-controller="fullsize">
            {% if post.width > 800 or post.height > 650 %}
                <a href="#" class="" data-fullsize-target="buttonFullsize" data-action="click->fullsize#fullsize">{{ 'btn.show_full_size'|trans }}</a>
                <a href="#" class="is-hidden" data-fullsize-target="buttonSmallsize" data-action="click->fullsize#smallsize">{{ 'btn.show_small_size'|trans }}</a>
            {% endif %}

            <figure class="image-display" data-fullsize-target="image">
                {% if post.mimeType == 'video/mp4' or post.mimeType == 'video/webm' %}
                    <video controls>
                        <source src="{{ asset(post.path) }}" type="video/mp4">
                    </video>
                {% else %}
                    <img src="{{ asset(post.path) }}">
                {% endif %}
            </figure>

            <div>
                {{ post.comment }}
            </div>
        </div>
    </div>

    {{ include('App/_partials/_modal/_delete.html.twig', {
        'header': 'message.delete_post'|trans,
        'message': 'message.warning_delete_post'|trans,
        'action': path('app_post_delete', {slug: board.slug, id: post.id})
    }) }}
{% endblock %}